
@{
    ViewBag.Title = "Index";
}
<section class="grid about about-page">
    <div class="grid wide container-about">
        <div class="container-about__img">
            <img src="~/Content/user/img/top_service.png" alt="About Image">
        </div>
        <div class="container-about__content">
            <div class="container-about__content-title">About Us</div>
            <p class="container-about__content-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Quis ipsum suspendisse ultrices gravida. Risus cmodo viverra maecenas accumsan lacus vel</p>
            <div class="container-about__content-button">
                <button class="btn btn-primary">
                    <p>LEARN MORE</p>
                </button>
            </div>
            <div class="container-about__content-more">
                <div class="container-about__content-more-item">
                    <img src="~/Content/user/img/icon/banner_1.svg" alt="Banner Icon">
                    <p>Emergency</p>
                </div>
                <div class="container-about__content-more-item">
                    <img src="~/Content/user/img/icon/banner_2.svg" alt="Banner Icon">
                    <p>Appointment</p>
                </div>
                <div class="container-about__content-more-item">
                    <img src="~/Content/user/img/icon/banner_3.svg" alt="Banner Icon">
                    <p>Qualfied</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ========================================== DEPARTMENT SECTION ========================================== -->
<section class="grid department">
    <div class="grid wide container-department">
        <div class="container-department__title">
            <h1>Our Department</h1>
        </div>
        <div class="container-department__wrap">
            <div class="container-department__wrap-content">
                <div class="container-department__wrap-content-icon">
                    <img src="~/Content/user/img/icon/feature_2.svg" alt="">
                </div>
                <h2 class="container-department__wrap-content-title">
                    Better Future
                </h2>
                <p class="container-department__wrap-content-para">
                    Darkness multiply rule Which from without life creature blessed give moveth moveth seas make day which divided our have.
                </p>
            </div>
            <div class="container-department__wrap-content">
                <div class="container-department__wrap-content-icon">
                    <img src="~/Content/user/img/icon/feature_2.svg" alt="">
                </div>
                <h2 class="container-department__wrap-content-title">
                    Better Future
                </h2>
                <p class="container-department__wrap-content-para">
                    Darkness multiply rule Which from without life creature blessed give moveth moveth seas make day which divided our have.
                </p>
            </div>
            <div class="container-department__wrap-content">
                <div class="container-department__wrap-content-icon">
                    <img src="~/Content/user/img/icon/feature_2.svg" alt="">
                </div>
                <h2 class="container-department__wrap-content-title">
                    Better Future
                </h2>
                <p class="container-department__wrap-content-para">
                    Darkness multiply rule Which from without life creature blessed give moveth moveth seas make day which divided our have.
                </p>
            </div>
            <div class="container-department__wrap-content">
                <div class="container-department__wrap-content-icon">
                    <img src="~/Content/user/img/icon/feature_2.svg" alt="">
                </div>
                <h2 class="container-department__wrap-content-title">
                    Better Future
                </h2>
                <p class="container-department__wrap-content-para">
                    Darkness multiply rule Which from without life creature blessed give moveth moveth seas make day which divided our have.
                </p>
            </div>
        </div>
    </div>
</section>

