
@{
    ViewBag.Title = "Index";
}

    <section class="grid contact">
        <div class="grid wide container-contact">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d244.94512944427336!2d106.67926753844367!3d10.801961575416!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175293431069ea9%3A0x6eebed96cafbd07a!2sKASE%20EDUTECH!5e0!3m2!1svi!2s!4v1600281623565!5m2!1svi!2s" width="100%" height="400px" frameborder="0" style="border:0; margin-bottom: 48px;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

            <h2 class="container-contact-title">Get in Touch</h2>
            <div class="container-contact__content">
                <div class="container-contact__content-form">
                    <form action="contact.html" class="container-contact__content-form">
                        <textarea rows="4" cols="50" name="" form="" placeholder="Your message..."></textarea>
                        <div class="container-contact__content-form-separate">
                            <input class="input-name" type="text" name="name" id="name" placeholder="Your name">
                            <input class="input-email" type="email" name="email" id="email" placeholder="Email address">
                        </div>
                        <input class="input-subject" type="text" name="name" id="name" placeholder="Enter Subject">
                        <button class="btn btn-primary">
                            <p>SEND MESSAGE</p>
                        </button>
                    </form>
                </div>
                <div class="container-contact__content-info">
                    <div class="container-contact__content-info-item">
                        <div class="container-contact__content-info-item-icon">
                            <i class="fas fa-home"></i>
                        </div>
                        <div class="container-contact__content-info-item-text">
                            <h2>Buttonwood, California.</h2>
                            <p>Rosemead, CA 91770</p>
                        </div>
                    </div>
                    <div class="container-contact__content-info-item">
                        <div class="container-contact__content-info-item-icon">
                            <i class="fas fa-mobile-alt"></i>
                        </div>
                        <div class="container-contact__content-info-item-text">
                            <h2>00 (440) 9865 562</h2>
                            <p>Mon to Fri 9am to 6pm</p>
                        </div>
                    </div>
                    <div class="container-contact__content-info-item">
                        <div class="container-contact__content-info-item-icon">
                            <i class="far fa-envelope"></i>
                        </div>
                        <div class="container-contact__content-info-item-text">
                            <h2>support@gmail.com</h2>
                            <p>Send us your query anytime!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

