@{
    ViewBag.Title = "Home Page";
}
<!-- ========================================== HERO SECTION ========================================== -->
<section class="grid hero">
    <div class="grid wide container-hero">
        <div class="container-hero__text layer" data-speed="2">
            <h3>We Are Here For Your Care</h3>
            <h1>Best Care & Better Doctor</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.Risus cmodo viverra</p>
            <div class="container-hero__text-button layer" data-speed="1">
                <button class="btn btn-primary">
                    <p>Make an appointment</p>
                </button>
            </div>
        </div>
        <div class="container-hero__img layer" data-speed="3">
            <img src="~/Content/user/img/banner_img.png" alt="Hero Image">
        </div>
    </div>
</section>
<!-- ========================================== ABOUT SECTION ========================================== -->
<section class="grid about">
    <div class="grid wide container-about">
        <div class="container-about__img layer" data-speed="2">
            <img src="~/Content/user/img/top_service.png" alt="About Image">
        </div>
        <div class="container-about__content lazy-loading">
            <div class="container-about__content-title">About Us</div>
            <p class="container-about__content-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Quis ipsum suspendisse ultrices gravida. Risus cmodo viverra maecenas accumsan lacus vel</p>
            <div class="container-about__content-button layer" data-speed="1">
                <button class="btn btn-primary">
                    <p>LEARN MORE</p>
                </button>
            </div>
            <div class="container-about__content-more">
                <div class="container-about__content-more-item">
                    <img src="~/Content/user/img/icon/banner_1.svg" alt="Banner Icon">
                    <p>Emergency</p>
                </div>
                <div class="container-about__content-more-item">
                    <img src="~/Content/user/img/icon/banner_2.svg" alt="Banner Icon">
                    <p>Appointment</p>
                </div>
                <div class="container-about__content-more-item">
                    <img src="~/Content/user/img/icon/banner_3.svg" alt="Banner Icon">
                    <p>Qualfied</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================================== FEATURE SECTION ========================================== -->
<section class="grid feature">
    <div class="grid wide container-feature">
        <div class="container-feature__title">
            <h1>Our Services</h1>
        </div>
        <div class="container-feature__content">
            <div class="container-feature__content-item">
                <div class="container-feature__content-item-details">
                    <div class="container-feature__content-item-details-heading">
                        <div class="container-feature__content-item-details-heading-icon">
                            <img src="~/Content/user/img/icon/feature_1.svg" alt="Feature Icon">
                        </div>
                        <h2>Better Future</h2>
                    </div>
                    <p class="container-feature__content-item-details-para">
                        Darkness multiply rule Which from without life creature blessed give moveth moveth seas make day which divided our have.
                    </p>
                </div>
                <div class="container-feature__content-item-details">
                    <div class="container-feature__content-item-details-heading">
                        <div class="container-feature__content-item-details-heading-icon">
                            <img src="~/Content/user/img/icon/feature_2.svg" alt="Feature Icon">
                        </div>
                        <h2>Better Future</h2>
                    </div>
                    <p class="container-feature__content-item-details-para">
                        Darkness multiply rule Which from without life creature blessed give moveth moveth seas make day which divided our have.
                    </p>
                </div>
            </div>

            <div class="container-feature__content-item">
                <div class="container-feature__content-item-img">
                    <img src="~/Content/user/img/service.png" alt="Feature Service">
                </div>
            </div>

            <div class="container-feature__content-item">
                <div class="container-feature__content-item-details">
                    <div class="container-feature__content-item-details-heading">
                        <div class="container-feature__content-item-details-heading-icon">
                            <img src="~/Content/user/img/icon/feature_1.svg" alt="Feature Icon">
                        </div>
                        <h2>Better Future</h2>
                    </div>
                    <p class="container-feature__content-item-details-para">
                        Darkness multiply rule Which from without life creature blessed give moveth moveth seas make day which divided our have.
                    </p>
                </div>
                <div class="container-feature__content-item-details">
                    <div class="container-feature__content-item-details-heading">
                        <div class="container-feature__content-item-details-heading-icon">
                            <img src="~/Content/user/img/icon/feature_2.svg" alt="Feature Icon">
                        </div>
                        <h2>Better Future</h2>
                    </div>
                    <p class="container-feature__content-item-details-para">
                        Darkness multiply rule Which from without life creature blessed give moveth moveth seas make day which divided our have.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================================== DEPARTMENT SECTION ========================================== -->
<section class="grid department">
    <div class="grid wide container-department">
        <div class="container-department__title">
            <h1>Our Department</h1>
        </div>
        <div class="container-department__wrap">
            <div class="container-department__wrap-content">
                <div class="container-department__wrap-content-icon">
                    <img src="~/Content/user/img/icon/feature_2.svg" alt="">
                </div>
                <h2 class="container-department__wrap-content-title">
                    Better Future
                </h2>
                <p class="container-department__wrap-content-para">
                    Darkness multiply rule Which from without life creature blessed give moveth moveth seas make day which divided our have.
                </p>
            </div>
            <div class="container-department__wrap-content">
                <div class="container-department__wrap-content-icon">
                    <img src="~/Content/user/img/icon/feature_2.svg" alt="">
                </div>
                <h2 class="container-department__wrap-content-title">
                    Better Future
                </h2>
                <p class="container-department__wrap-content-para">
                    Darkness multiply rule Which from without life creature blessed give moveth moveth seas make day which divided our have.
                </p>
            </div>
            <div class="container-department__wrap-content">
                <div class="container-department__wrap-content-icon">
                    <img src="~/Content/user/img/icon/feature_2.svg" alt="">
                </div>
                <h2 class="container-department__wrap-content-title">
                    Better Future
                </h2>
                <p class="container-department__wrap-content-para">
                    Darkness multiply rule Which from without life creature blessed give moveth moveth seas make day which divided our have.
                </p>
            </div>
            <div class="container-department__wrap-content">
                <div class="container-department__wrap-content-icon">
                    <img src="~/Content/user/img/icon/feature_2.svg" alt="">
                </div>
                <h2 class="container-department__wrap-content-title">
                    Better Future
                </h2>
                <p class="container-department__wrap-content-para">
                    Darkness multiply rule Which from without life creature blessed give moveth moveth seas make day which divided our have.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- ========================================== DOCTOR SECTION ========================================== -->
<section class="grid doctor">
    <div class="grid wide container-doctor">
        <div class="container-doctor__title">
            <h1>Experienced Doctors</h1>
            <p>Face Replenish Sea Good Winged Bearing Years Air Divide WasHave Night Male Also</p>
        </div>
        <div class="container-doctor__char">
            <div class="container-doctor__char-wrap">
                <div class="container-doctor__char-wrap-img">
                    <img src="~/Content/user/img/doctor/doctor_1.png" alt="">
                </div>
                <div class="container-doctor__char-wrap-info">
                    <h2 class="container-doctor__char-wrap-info-name">DR Adam Billiard</h2>
                    <p class="container-doctor__char-wrap-info-position">Heart specialist</p>
                </div>
            </div>
            <div class="container-doctor__char-wrap">
                <div class="container-doctor__char-wrap-img">
                    <img src="~/Content/user/img/doctor/doctor_1.png" alt="">
                </div>
                <div class="container-doctor__char-wrap-info">
                    <h2 class="container-doctor__char-wrap-info-name">DR Adam Billiard</h2>
                    <p class="container-doctor__char-wrap-info-position">Heart specialist</p>
                </div>
            </div>
            <div class="container-doctor__char-wrap">
                <div class="container-doctor__char-wrap-img">
                    <img src="~/Content/user/img/doctor/doctor_1.png" alt="">
                </div>
                <div class="container-doctor__char-wrap-info">
                    <h2 class="container-doctor__char-wrap-info-name">DR Adam Billiard</h2>
                    <p class="container-doctor__char-wrap-info-position">Heart specialist</p>
                </div>
            </div>
            <div class="container-doctor__char-wrap">
                <div class="container-doctor__char-wrap-img">
                    <img src="~/Content/user/img/doctor/doctor_1.png" alt="">
                </div>
                <div class="container-doctor__char-wrap-info">
                    <h2 class="container-doctor__char-wrap-info-name">DR Adam Billiard</h2>
                    <p class="container-doctor__char-wrap-info-position">Heart specialist</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================================== APPOINTMENT SECTION ========================================== -->
<section class="grid appointment">
    <div class="grid wide container-appointment">
        <form action="home.html" class="container-appointment__form">
            <h2>Make an Appointment</h2>
            <input type="text" name="name" id="name" placeholder="Your name">
            <input type="email" name="email" id="email" placeholder="Email address">

            <select name="list" id="list">
                <option value="">Select Service</option>
                <option value="">Name Service</option>
                <option value="">Name Service</option>
                <option value="">Name Service</option>
            </select>

            <select name="list" id="list">
                <option value="">Time</option>
                <option value="">8h30 to 10h</option>
                <option value="">10h to 11h30</option>
                <option value="">13h30 to 15h</option>
            </select>

            <textarea rows="4" cols="50" name="" form="">Your note...</textarea>
            <button class="btn btn-primary">
                <p>MAKE AN APPOINTMENT</p>
            </button>
        </form>
        <div class="container-appointment__img">
            <img src="~/Content/user/img/reservation.png" alt="">
        </div>
    </div>
</section>
