@model IEnumerable<Medicare_Insurance.Models.Policy>

@{
    ViewBag.Title = "Index";
}
<section class="banner">
    <div class="grid wide container-banner">
        <h1 class="container-banner__title">
            Service
        </h1>
    </div>
</section>

<!-- ========================================== PURCHASE SECTION ========================================== -->
<section class="purchase-step">
    <div class="grid wide container-purchase-step">
        <div class="container-purchase-step__title">
            <h1>Buy insurance online in four steps</h1>
        </div>
        <div class="container-purchase-step__content">
            <div class="container-purchase-step__content-item">
                <div class="container-purchase-step__content-item-number">
                    <span>1</span>
                </div>
                <div class="container-purchase-step__content-item-desc">
                    Choose package coverage
                    fit
                </div>
            </div>
            <div class="container-purchase-step__content-item">
                <div class="container-purchase-step__content-item-number">
                    <span>2</span>
                </div>
                <div class="container-purchase-step__content-item-desc">
                    Choose your fee &
                    insurance benefits
                </div>
            </div>
            <div class="container-purchase-step__content-item">
                <div class="container-purchase-step__content-item-number">
                    <span>3</span>
                </div>
                <div class="container-purchase-step__content-item-desc">
                    Fill in the information
                    personal
                </div>
            </div>
            <div class="container-purchase-step__content-item">
                <div class="container-purchase-step__content-item-number no-line">
                    <span>4</span>
                </div>
                <div class="container-purchase-step__content-item-desc">Payment online</div>
            </div>
        </div>
    </div>
</section>

<!-- ========================================== PRODUCT SECTION ========================================== -->
<section class="product">
    <div class="grid wide container-product">
        <div class="container-product__title">
            <h1>Find insurance according to your needs</h1>
            <p>You can choose more than one need</p>
        </div>
        <div class="container-product__content">

            @foreach (var policy in Model)
            {
                <div class="container-product__content-item">
                    <div class="container-product__content-item-front">
                        <img class="container-product__content-item-front-thumbnail" src="~/Content/user/img/Product_Section/Accident/@policy.image" alt="@policy.policyName">
                        <h3 class="container-product__content-item-front-name">@policy.policyName</h3>
                    </div>
                    <div class="container-product__content-item-back">
                        <div class="container-product__content-item-back-desc">
                            <div class="container-product__content-item-back-desc-child">
                                <div class="container-product__content-item-back-desc-child-img">
                                    <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"><path d="M12.178 9.487a1.67 1.67 0 01.196 2.12l-1.562 2.145a1.625 1.625 0 00-.312.959c0 .913.808 1.614 1.743 1.482l2.257-.176h3c.503 0 .69.66.263.925l-3.962 2.46c-.69.582-3 .846-3.877.592l-6.308-.97c-.051.027-.112.06-.182.095-.24.122-.5.244-.771.359a8.246 8.246 0 01-1.157.398 4.125 4.125 0 01-1.006.141.5.5 0 01-.5-.5v-7a.5.5 0 01.539-.498 18.992 18.992 0 012.147.299c1.026.205 1.762.461 2.158.836l-.016-.013a3.737 3.737 0 012.458-1.118l2.536-2.536c.65-.65 1.705-.65 2.356 0zm-1.649.708L7.853 12.87a.5.5 0 01-.353.146c-1.02 0-1.954.567-2.425 1.469l-.569 2.158a28.601 28.601 0 01-.361 1.45l5.992.925c.648.185 2.695-.058 3.009-.372l.09-.072 2.512-1.559h-1.21l-2.185.17A2.5 2.5 0 019.5 14.711c0-.557.176-1.1.504-1.548l1.55-2.129a.665.665 0 00-1.025-.84zM1 13.07v5.894c.083-.016.17-.035.26-.058.317-.08.66-.2 1.015-.35a10.634 10.634 0 00.807-.38l-.016.007.464-1.76.012-.048a24.5 24.5 0 00.373-2.107l.06-.513c-.294-.161-.818-.323-1.486-.457A18.021 18.021 0 001 13.07zM23.5 4a.5.5 0 01.5.5v10a.5.5 0 01-.5.5h-11a.5.5 0 110-1H23V5h-1.5a.5.5 0 110-1h2zm-8 2a.5.5 0 01.5.5v.527c1.058.117 1.903.607 1.996 1.346a.5.5 0 11-.992.125c-.02-.155-.423-.376-1.003-.462v1.026c.21.032.405.07.594.12.85.222 1.405.61 1.405 1.319 0 .804-.881 1.346-2 1.471v.528a.5.5 0 11-1 0v-.527c-1.058-.118-1.903-.608-1.996-1.347a.5.5 0 11.992-.125c.02.156.423.376 1.004.462V9.938a5.843 5.843 0 01-.593-.12C13.557 9.596 13 9.208 13 8.5c0-.806.881-1.348 2-1.473V6.5a.5.5 0 01.5-.5zm.502 4.076L16 10.075l.002.888c.204-.03.391-.08.552-.143l.136-.06c.221-.11.31-.216.31-.26 0-.087-.21-.233-.658-.35a4.998 4.998 0 00-.525-.104zM17.688 4a.5.5 0 110 1H8v4.5a.5.5 0 01-1 0v-5a.5.5 0 01.5-.5h10.188zM15 8.036c-.264.04-.502.11-.689.204-.221.11-.31.215-.31.26 0 .087.21.233.66.35.161.043.336.076.526.104zM21.5 6a.5.5 0 110 1h-2a.5.5 0 110-1z" fill="#fff" fill-rule="evenodd" /></svg>
                                </div>
                                @foreach (var medical in policy.Medicals)
                                {
                                    <div class="container-product__content-item-back-desc-child-text">@medical.medicalName</div>
                                }
                            </div>
                        </div>
                        <button class="container-product__content-item-back-btn">See more</button>
                    </div>
                    <div class="container-product__content-item-background"></div>
                </div>
            }
        </div>
    </div>
</section>

